html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.app-container .navbar {
  flex: 0 1 auto;
}
.app-container .component {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.app-container .component > div {
  height: 100%;
}