.listContainer {
  background-color: rgb(234, 226, 241);
  min-height: 34.5rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: black;
}
.listContainer .pageButtons {
  position: absolute;
  width: 100%;
  bottom: 0.5rem;
}
.listContainer .pageButtons > button {
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 4px;
  color: black;
  outline: none;
  transition: background-color, 0.2s;
  margin: 0px 7px;
}
.listContainer .pageButtons > button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.listContainer .pageButtons > button:disabled {
  visibility: hidden;
}
.listContainer > table {
  width: 100%;
  border-collapse: collapse;
}
.listContainer > table > thead {
  height: 2rem;
  line-height: 2rem;
}
.listContainer .listRow {
  background-color: white;
  border-bottom: 1px solid rgb(199, 199, 199);
  border-collapse: collapse;
  height: 3rem;
}

.listContainer .listRow .actionButton {
  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 4px;
  padding: 0.2rem 0.45rem 0.25rem;
  margin: 0rem 0.12rem;
  font-size: 12pt;
}

.listContainer .listRow .actionButton:hover {
  cursor: pointer;
  background-color: #B1B1B1;
}

.listContainer .listRow .deleteButton {
  color: white;
  background-color: #DD5959;
}

.listContainer .listRow .infoButton {
  color: white;
  background-color: #5FB54C;
}