  #popup_inner {
    max-width: 700px;
    border-radius: 20px;  
    background: white;  
    color: black;
    overflow: auto;
    margin: 2em auto;
  }

  .container_styles {
    height: 20px;
    width: '100%';
    background-color: #c2c2c2;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .label_styles {
    padding: 5px;
    color: white;
    font-weight: 900;
  }

  .list_scroll {
    padding-top: 13%;
    padding-bottom: 15px;
    overflow: hidden; 
    overflow-y: auto;
    max-height: 200px;
  }

  #table_rows {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top !important;
  }
  