.container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #BA9ADF;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 40px;
}

.card {
  margin: 10px 300px;
  padding: 10px 100px 10px 100px;
  background-color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
  overflow: auto;
}