.button {
    background-color: white;
    color: #373738;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
    }
  
  .button:hover {
    background-color: #373738;
    color: white;
    cursor: pointer;
  }

  .field {
    height: 40px;
    border-radius: 4px;
    margin: auto;
    position: relative;
    font-size: 17px;
    background-color: white;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
  }

  .multi {
    height: 60px;
    width: 220px;
    border-radius: 4px;
    margin: auto;
    position: relative;
    font-size: 17px;
    background-color: white;
  }

  .label {
    display: block;
    font-size: 20px;
  }

  .hours {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    font-size: 20px;
    font-display: center;
    margin: auto;
    position: relative;
  }

  .minutes {
    width: 60px;
    height: 35px;
    border-radius: 4px;
    font-size: 20px;
    font-display: center;
    margin: auto;
    position: relative;
  }

  .set {
    width: 60px;
    margin-left: 10px;
    height: 35px;
    border-radius: 4px;
    font-size: 20px;
    font-display: center;
    margin: auto;
    position: relative;
  }

  .error {
    color: red;
  }
