/* COLOR SCHEME
  light purpur: #BA9ADF
  bright purpur: #9A49CE
  white: #FFFFFF
  dark gray: #373738
*/
.alert {
  float: right;
  margin: 0.5em 0.7em;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 0.3em 0.5em;
  border-radius: 4px;
}

.bar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  justify-content: left;
  align-items: center;
  background-color: #9A49CE;
}

.tab {
  float: left;
}
.tab.account {
  float: right;
  color: white;
  margin-right: 0.7em;
}
.tab.account .email {
  float: left;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding: 0.3em 0.5em;
}
.tab.account .logout {
  float: right;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding: 0.3em 0.5em;
  border: 1px solid rgba(256,256,256,0.5);
  border-radius: 4px;
}
.tab.account .logout:hover {
  cursor: pointer;
  background-color: rgba(256,256,256,0.8);
  color: #9A49CE;
}
.tab a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0px;
  transition: 0.2s background-color ease-in-out, 0.2s color ease-in-out;
}

.tab a:hover {
  background-color: #FFFFFF;
  color: #9A49CE;
}

.tab a.current {
  background-color: #FFFFFF;
  color: #9A49CE;
}
